{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block corecss %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/allauth.css' %}">
        {% endblock %}
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        <div class="col-12 col-lg-4 my-auto text-center text-lg-left">
            <a href="{% url 'homepage' %}" class="nav-link main-logo-link">
              <h2 class="logo-text text-black my-0"><strong>Dewi's</strong> Blooms</h2>
            </a>
          </div>
        {% endblock extra_head %}
    </head>
    <body>
        <div class="allauth-container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
