{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container profile-container">
    <h2>My Profile</h2>
    <div class="profile-details">
        <h4>Personal Information</h4>
        <p><strong>Username:</strong> {{ profile.user.username }}</p>
        <p><strong>Email:</strong> {{ profile.user.email }}</p>
        
        <h4>Default Delivery Information</h4>
        <p><strong>Phone Number:</strong> {{ profile.default_phone_number }}</p>
        <p><strong>Country:</strong> {{ profile.default_country }}</p>
        <p><strong>Postcode:</strong> {{ profile.default_postcode }}</p>
        <p><strong>Town or City:</strong> {{ profile.default_town_or_city }}</p>
        <p><strong>Street Address 1:</strong> {{ profile.default_street_address1 }}</p>
        <p><strong>Street Address 2:</strong> {{ profile.default_street_address2 }}</p>
        <p><strong>County:</strong> {{ profile.default_county }}</p>
    </div>
</div>
{% endblock %}