html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../images/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Header Styling */
.header {
    padding: 10px 0;
    background-color: #ff5733;
}

.logo-text {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 3rem;
    color: #2c3e50;
    text-decoration: none;
}

/* Delivery Banner */
#delivery-banner {
    background-color: #000 !important;
    color: #fff !important;
}

/* Add styling for search-form to control width */
.search-form {
    max-width: 100%;
    width: 60%; /* Adjust width as necessary */
}

/* Search Bar Container */
.search-bar-container {
    max-width: 500px;
}

/* Account Links Styling */
.account-links a, .account-links .dropdown-toggle {
    color: #ff5733;
    font-weight: bold;
    margin-left: 15px;
}

/* Hero Section Styling */
.hero-section {
    background: url('../images/homepage_background.jpg') center center / cover no-repeat;    
    height: 63vh;
    position: relative;
    margin-top: 163px;  
    border-radius: 10px;
}

.hero-content {
    background-color: rgba(255, 87, 51, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

/* Centered Navbar */
.navbar-nav .nav-link {
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
}

.navbar-nav .nav-link:hover {
    color: #ff5733;
}


/* Responsive Adjustments */
@media (max-width: 991.98px) {
    /* Adjust mobile top header links */
    .d-lg-none {
        display: block !important;
    }

    /* Hide desktop-only elements on mobile */
    .d-lg-block {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .header-center {
        width: 100%;
        justify-content: flex-start;
    }
    .header-left, .header-right {
        flex-basis: 100%;
        justify-content: center;
    }
    #topnav .nav-link {
        font-size: 14px;
      }
      .hero-section h1 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .hero-content {
        padding: 15px;
        max-width: 90%;
    }
}

.hero-section h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.hero-section p {
    font-size: 1.2em;
    color: white;
}

.hero-section .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero-section .btn:hover {
    background-color: #0056b3;
}
