<div class="navbar-collapse collapse" id="mainNav">
    <ul class="navbar-nav mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="allProductsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
        </li>   

        <!-- Categories for Products -->
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="{% url 'products' %}?category=occasions">
                Occasions Flowers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="{% url 'products' %}?category=seasonal">
                Seasonal Flowers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-item" href="{% url 'products' %}?category=type">
                Flower Type
            </a>
        </li>

        <!-- New Dropdown for Sorting Options -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="sortDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products by
            </a>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=descending">Rating: High to Low</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=ascending">Rating: Low to High</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=descending">Price: High to Low</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=ascending">Price: Low to High</a></li>
            </ul>
        </li>              
    </ul>
</div>
