<!-- for sorting products and identifying categories and special offers -->
<div class="navbar-collapse collapse" id="mainNav">
    <ul class="navbar-nav mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="allProductsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="allProductsDropdown">
                <li><a class="dropdown-item" href="#">All Products</a></li>
                <li><a class="dropdown-item" href="#">By Price</a></li>
                <li><a class="dropdown-item" href="#">By Rating</a></li>
                <li><a class="dropdown-item" href="#">By Category</a></li>
            </ul>
        </li>

        <!-- Other Categories -->
        <li class="nav-item">
            <a class="nav-link" href="#">Seasonal Flowers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Birthday Arrangements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Special Offers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sympathy Flowers</a>
        </li>
    </ul>
</div>