<!-- for sorting products and identifying categories and special offers -->
<div class="navbar-collapse collapse" id="mainNav">
    <ul class="navbar-nav mx-auto">
        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="allProductsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
         </li>   
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'products' %}?category=occasions">
                Occasions Flowers
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'products' %}?category=seasonal">
                Seasonal Flowers
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'products' %}?category=type">
                Flower Type
            </a>
        </li>              
    </ul>
</div>