<div class="d-block d-lg-none py-2 border-bottom">
    <ul class="nav justify-content-between">
        <!-- Search Button with Dropdown -->
        <li class="list-inline-item">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-search fa-lg"></i>
                    <p class="my-0">Search</p>
                </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form action="{% url 'search' %}" method="get" class="form">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="search" placeholder="Search flowers, bouquets..." aria-label="Search" name="q">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- My Account Dropdown -->
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <i class="fas fa-user fa-lg"></i>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'account_login' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>

        <!-- Shopping Bag Link -->
        <li class="list-inline-item">
            <a class="{% if grand_total|float > 0 %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <i class="fas fa-shopping-bag fa-lg"></i>
                    <p class="my-0">
                        £{{ grand_total|default:"0.00" }}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>