{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-overlay"></div>

<div class="container my-5">
    <!-- Product Detail Section -->
    <div class="row justify-content-center">
        <!-- Product Image -->
        <div class="col-md-6 col-lg-5 mb-4 mt-5">
            <div class="text-center">
                {% if product.image_url %}
                    <a href="{{ product.image_url }}" target="_blank">
                        <img src="{{ product.image_url }}" class="img-fluid shadow rounded" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <img src="{% static 'images/default_image.jpg' %}" class="img-fluid shadow rounded" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>

        <!-- Product Details -->
        <div class="hero-content col-md-6 col-lg-5 mt-5">
            <h2 class="font-weight-bold text-dark">{{ product.name }}</h2>
            <hr class="my-3">
            <p class="h4 font-weight-bold text-true-black">Price: £{{ product.price }}</p>
            {% if product.rating %}
                <p class="text-true-black">Rating: <strong>{{ product.rating }}</strong></p>
            {% endif %}
            <p class="h4 font-weight-bold text-true-black mt-3">{{ product.description }}</p>
            
            <form method="POST" action="{% url 'add_to_bag' product.id %}">
                {% csrf_token %}
                <div class="form-row">
                    <!-- Quantity Input -->
                    <div class="col-3">
                        <div class="input-group">
                            <input type="number" name="quantity" value="1" min="1" class="form-control">
                        </div>
                    </div>                    
                    <!-- Add to Bag Button -->
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-sm mt-2">Add to Bag</button>
                        <a href="{% url 'products' %}" class="btn btn-primary btn-sm mt-2 btn btn-outline-black">Keep Shopping</a>
                    </div>
                    
                    <!-- Hidden Redirect URL -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}